@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply font-sans text-neutral-900 bg-neutral-50;
}

.container {
  @apply mx-auto w-full max-w-6xl px-4;
}